body {
  background-color: #e74c3c;
  animation: bg-color 10s infinite;
  -webkit-animation: bg-color 10s infinite;
  text-align: center;
  padding-bottom: 20px;
}

@-webkit-keyframes bg-color {
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}

@keyframes bg-color {
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}

.numbers{
  background-color: pink;
  color: white;
  padding: 35px;
  text-align: center;
  font-size: 25px;
}

#clear {
  background-color: LightBlue;
  color: white;
  padding: 35px;
  text-align: center;
  font-size: 25px;
}

#equals{
  background-color: LightBlue;
  color: white;
  padding: 35px;
  text-align: center;
  font-size: 25px;
}
.method{
  background-color: orange;
  color: white;
  padding: 35px;
  text-align: center;
  font-size: 25px;
}

.maincalc{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

#display{
  width: 240px;
  height: 45px;
  text-align: center;
  font-size: 25px;
}
